  <h1>お問合せフォーム</h1>
  <%= form_with model:@contact do |f| %>
    <p>
      <%= f.label :name,"お名前" %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :message,"お問合せ内容" %>
      <%= f.text_area :message %>
    </p>
    <%= f.submit '送信' %>
  <% end %>