<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" /> 
  <title>details</title>
  <%= stylesheet_link_tag 'collection', :media => "all" %>
  <% content_for :js do %>
    <%= javascript_import_module_tag "show" %>
  <% end %>
</head>
<body>
  <main>
  <div class="LeftContent">
    <p id="name"><%= @animal.name %></p>
    <%= image_tag @animal.img, size:'300x300' %>
    <button onclick="window.history.back();" id="back">戻る</button>
  </div>
  <div class="RightContent">
    <iframe width="560" height="315" 
    src="<%= @animal.youtube_url %>"
    title="YouTube video player" frameborder="0" allow="accelerometer; 
    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
  </div>
  </main>
  

</body>