<header>

  <div class='row'>
      <div class='col logo'>
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
      <div class="nav">
      <div class='col'>
          <%= link_to "ビンゴで遊ぶ", bingo_path %>
      </div>
      <div class='col'>
          <%= link_to "コレクション", collections_path %>
      </div>
      <div class='col'>
          <%= link_to "モード選択", new_mode_path %>
      </div>
      <div class='col'>
          <%= link_to "ログイン", login_path %>
      </div>
      </div>
  </div>
</header>